<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hoaiduc.quanlychitieu">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Đăng nhập/Đăng ký"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>
        <!--Add this-->
        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />
        <activity
            android:name=".DangNhapActivity"
            android:screenOrientation="portrait">
            <intent-filter>

                <!-- <permission  android:name="android.permission.INTERNET"></permission> -->

                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.ListCurrency.ListCurrencyActivity"
                  android:label="Chọn tiền Tệ"
            />
        <activity android:name=".view.wallet.WalletActivity"
                  android:label="Ví"
            />
        <activity
            android:name=".view.TrangChu.TrangChuActivity"
            android:label="Trang chủ" />
        <activity
            android:name=".view.category.CategoryActivity"

            android:label="Chọn Nhóm" />
        <activity
            android:name=".view.GiaoDichActivity.TransactionActivity"
            android:label="Thêm giao dịch"
            android:value="TrangChuActivity" />
        <activity
            android:name=".view.wallet.DisplayWallet"
            android:label="Chọn ví" />
        <activity
            android:name=".view.wallet.AddWalletActivity"
            android:label="Thêm Ví" />

    </application>

</manifest>